**/*.iml
*.iml
**/build
*/bin/
*/output.*
bin/*
gen/*
proguard/*
.settings/*
.idea/*
.gradle/*
gradle/*

lint.xml
**/lint.xml
auto.prop
import-summary.txt
gradlew
gradlew.bat
local.properties

*/DS_Store
DS_Store
res/drawable-hdpi/.DS_Store
